name: tests

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  tests:
    runs-on: ${{ matrix.os }}

    strategy:
        fail-fast: true
        matrix:
            os: [ ubuntu-latest ]
            php: [ 8.3, 8.2, 8.1 ]
            laravel: [ 11.*, 10.*, 9.* ]
            stability: [ prefer-lowest, prefer-stable ]
            include:
                -   laravel: 11.*
                    testbench: 9.*
                    carbon: ^2.63
                    medialibrary: 11.*
                    geospatial: ^4.2
                -   laravel: 10.*
                    testbench: 8.*
                    carbon: ^2.63
                    medialibrary: ^10.3.4
                    geospatial: ^4.2
                -   laravel: 9.*
                    testbench: 7.*
                    carbon: ^2.63
                    medialibrary: ^10.3.4
                    geospatial: ^2.10
            exclude:
                -   laravel: 11.*
                    php: 8.1

    name: P${{ matrix.php }} - L${{ matrix.laravel }} - ${{ matrix.stability }} - ${{ matrix.os }}

    services:
        mysql:
            image: ${{ (matrix.laravel = 9.*) && 'mysql:8.0' || '' }}
            env:
                MYSQL_USER: user
                MYSQL_PASSWORD: secret
                MYSQL_DATABASE: forms
                MYSQL_ROOT_PASSWORD: secretroot
            ports:
                - 3306
            options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
      -   name: Checkout code
          uses: actions/checkout@v4

      -   name: Install SQLite 3
          run: |
            sudo apt-get update
            sudo apt-get install sqlite3 -y

      -   name: Setup PHP
          uses: shivammathur/setup-php@v2
          with:
            php-version: ${{ matrix.php }}
            extensions: curl, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, iconv
            coverage: none\

      -   name: Install dependencies
          run: |
              composer config --no-plugins allow-plugins.phpstan/extension-installer true
              composer require "laravel/framework:${{ matrix.laravel }}" "orchestra/testbench-browser-kit:${{ matrix.testbench }}" "nesbot/carbon:${{ matrix.carbon }}" "spatie/laravel-medialibrary:${{ matrix.medialibrary }}" "matanyadaev/laravel-eloquent-spatial:${{ matrix.geospatial }}" --no-interaction --no-update
              composer update --${{ matrix.stability }} --prefer-dist --no-interaction

      -   name: Execute tests
          run: vendor/bin/phpunit
          env:
              DB_USERNAME: user
              DB_PASSWORD: secret
              DB_PORT: ${{ (matrix.laravel = 9.*) && job.services.mysql.ports[3306] || '' }}
